#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/led/led.h>

/ {
    chosen {
        zmk,underglow = &clavis_rgb;
    };

    /*
     * 10 SK6812MINI-E
     *
     * DATA = XIAO D18
     * D18  = nRF52840 P1.05
     */
    clavis_rgb: ws2812 {
        compatible = "worldsemi,ws2812-gpio";

        gpios = <&gpio1 5 GPIO_ACTIVE_HIGH>;

        chain-length = <10>;

        /*
         * SK6812 usa orden GRB.
         */
        color-mapping = <
            LED_COLOR_ID_GREEN
            LED_COLOR_ID_RED
            LED_COLOR_ID_BLUE
        >;

        reset-delay = <80>;

        status = "okay";
    };
};